@keyframes twinkle {
    0%, 100% {
        background-color: var(--star-on);
    }
    50% {
        background-color: var(--star-off);
    }
}

:root {
    --font-blue : #C8E5FF;
    --background-blue: #272B32;
    --star-on: #F6D98C;
    --star-off: transparent;
    font-family: 'Roboto', Arial, Helvetica, system-ui, sans-serif;
    font-size: 1.3rem;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    background-color: var(--background-blue);
    overflow-x: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
h1,h2,h3 {
    font-family: 'Outfit', Arial, Helvetica, system-ui, sans-serif;
}
ul {
    list-style: none;
}
section {
    height: 100vh;
}
a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
}

.flex-r {
    display: flex;
}
.flex-c {
    display:flex;
    flex-direction:column;
}
.white-text {
    color: var(--font-blue);
}
.center {
    text-align: center;
}


/* nav */
nav {
    color: var(--font-blue);
    justify-content: space-around;
    background-color: transparent;
}
nav ul {
    gap: 8px;
}
.nav-link {
    position: relative;
}
.nav-link:after {
    content: '';
    width: 0px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--font-blue);
    transition: 300ms;
}
.nav-link:hover:after {
    width: 100%;
}
.nav-link:not(:hover):after {
    right: 0;
    left: auto;
}


/* landing */
#landing {
    gap: 10%;
    align-items: center;
    margin-top: 4%;
    position: relative;
    height: fit-content;
}
.map-container {
    width: 100vw;
    height: 100%;
    filter: drop-shadow(0px 0px 12px rgba(255,255,255,0.6));
    position: relative;
}
#map {
    clip-path: circle(30%);
    height: 100%;
    width: 100%;
    text-align:  center;
    position: relative;
}
#map::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.6);
    clip-path: circle(40%);
}


.hero {
    font-size: 4rem;
    color: var(--font-blue);
    text-align: center;
    z-index: 1;
}

/* stars */
#starry-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.star {
    position: absolute;
    background-color: var(--star-on);
    border-radius: 50%;
    animation: 2s twinkle infinite alternate linear;
}

#stats {
    padding: 4%;
}
#stats h2, #stats h3 {
    margin-bottom: 1.5rem;
}

/* footer */
footer {
    text-align: center;
} 



.submitbutton {
    border: 3px solid var(--font-blue);
    color: var(--font-blue);
    background-color: transparent;
    padding: 2rem;
    font-size: 1.1rem;
    border-radius: 2px;
    transition: background-color 500ms;
}
.submitbutton:hover {
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}