<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
          *,*::before,*::after {
            margin: 0;
            padding: 0;
          }
          body {
            display: flex;
            background-color: #272B32;
            color: #C8E5FF;
          }
          .center {
            justify-self: center;
            text-align: center;
            align-items: center;
          }
        </style>
        <title>Register</title>
    </head>

    <body>
        <div class="center"> 
            <h1>Sign In!</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
            <form action="/user/sign-in" method="post">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required ><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <input type="submit" value="Submit">
            </form>
        
        </div>
    </body>
</html>